<!-- Header Responsive (Mobile & Tablet) -->
<header class="header-responsive">
    <div class="header-responsive-container">
        <!-- Logo -->
        <a asp-page="/Index" class="logo-responsive">
            <img src="~/images/logos/autoclick-logo-hd.png" alt="AutoClick.cr" />
        </a>
        
        <!-- Actions -->
        <div class="header-responsive-actions">
            @{
                var currentPage = ViewContext.RouteData.Values["page"]?.ToString() ?? "";
                var isIndexPage = currentPage == "/Index" || currentPage == "" || currentPage == "/" || ViewContext.HttpContext.Request.Path == "/" || ViewContext.HttpContext.Request.Path == "/Index";
            }
            
            <!-- Search Button (Todas las vistas) -->
            <button class="search-btn-index" id="searchBtnResponsive" title="Búsqueda">
                <img src="~/images/icons/search-icon.svg" alt="Búsqueda" />
                <span>Búsqueda</span>
            </button>
            
            <!-- Menu/Close Button -->
            <button class="menu-btn" id="menuBtn" aria-label="Menú">
                <img src="~/images/icons/menu-icon.svg" alt="Menú" class="menu-icon" />
                <img src="~/images/icons/close-icon.svg" alt="Cerrar" class="close-icon" style="display: none;" />
                <span class="menu-text">Menú</span>
                <span class="close-text" style="display: none;">Cerrar</span>
            </button>
        </div>
    </div>
    
    <!-- Menu Overlay -->
    <div class="menu-overlay" id="menuOverlay">
        <div class="menu-content">
            @{
                bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
                string userName = User.Identity?.Name ?? User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value ?? User.FindFirst("FullName")?.Value ?? "Usuario";
            }
            
            @if (!isUserLoggedIn)
            {
                <!-- Auth Section (No logueado - aparece primero) -->
                <div class="menu-auth-section">
                    <a href="/Auth?mode=login#login" class="menu-item menu-item-login">Iniciar sesión</a>
                    <a href="/Auth#login" class="menu-item menu-item-register" onclick="event.preventDefault(); window.location.href='/Auth';">Registrarse</a>
                </div>
            }
            
            <!-- Main Navigation -->
            <a asp-page="/BusquedaAvanzada" class="menu-item menu-item-primary menu-item-with-icon">Explorar todos los autos</a>
            <div class="menu-divider"></div>
            
            <!-- Anúnciese Section -->
            <button class="menu-section-btn" data-section="anunciese">
                <span>Anúnciese</span>
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                    <path d="M3 5L7 9L11 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="menu-section" id="section-anunciese">
                @if (isUserLoggedIn)
                {
                    <a asp-page="/AnunciarMiAuto" class="menu-item menu-item-secondary">
                        <svg width="16" height="16" viewBox="0 0 111 99" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink: 0;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.193426 59.4165V94.875C0.193426 97.152 2.05163 99 4.34121 99H13.2672C14.2495 99.0002 15.2 98.6537 15.9494 98.0222C16.6989 97.3907 17.1986 96.5152 17.3597 95.5515L19.5498 82.5H91.4447L93.6292 95.5515C93.7903 96.5152 94.2901 97.3907 95.0395 98.0222C95.7889 98.6537 96.7394 99.0002 97.7217 99H106.653C107.753 99 108.808 98.5654 109.586 97.7918C110.364 97.0182 110.801 95.969 110.801 94.875V59.4165C110.801 52.9508 108.877 46.6297 105.271 41.25L100.957 34.815C100.572 34.2421 100.243 33.6344 99.9726 33H105.47C106.24 33 106.996 32.7864 107.651 32.3832C108.307 31.9801 108.836 31.4033 109.181 30.7175L110.563 27.9675C110.879 27.339 111.028 26.6408 110.996 25.9391C110.964 25.2374 110.752 24.5554 110.381 23.9577C110.01 23.36 109.492 22.8665 108.875 22.5239C108.259 22.1813 107.564 22.001 106.858 22H97.5281L95.8137 13.497C95.2921 10.9074 94.0316 8.52189 92.1829 6.62581C90.3342 4.72973 87.9756 3.40327 85.3889 2.805C77.3035 0.935001 67.3378 0 55.4972 0C43.6512 0 33.6909 0.935001 25.6055 2.805C23.0179 3.40233 20.658 4.72839 18.8083 6.62454C16.9585 8.52069 15.6972 10.9066 15.1752 13.497L13.4608 22H4.14212C3.4358 22.001 2.74142 22.1813 2.1248 22.5239C1.50818 22.8665 0.989753 23.36 0.618645 23.9577C0.247536 24.5554 0.0360443 25.2374 0.00421439 25.9391C-0.0276155 26.6408 0.12127 27.339 0.436762 27.9675L1.81936 30.7175C2.16318 31.4024 2.69188 31.9787 3.34627 32.3818C4.00067 32.7849 4.75495 32.999 5.52471 33H11.0274C10.7572 33.6343 10.4276 34.242 10.043 34.815L5.72381 41.25C2.118 46.629 0.193426 52.9485 0.193426 59.4165ZM88.4638 33.022C88.8448 34.9243 89.4771 36.7681 90.3442 38.5055H20.6503C21.5186 36.773 22.149 34.9305 22.5306 33.022L26.0258 15.6585C26.129 15.1394 26.3806 14.6609 26.7504 14.2804C27.1202 13.8999 27.5926 13.6336 28.1108 13.5135C35.2892 11.8635 44.4365 11 55.4972 11C66.558 11 75.7052 11.858 82.8837 13.519C83.4022 13.6378 83.8752 13.9028 84.246 14.2823C84.6168 14.6618 84.8696 15.1397 84.9742 15.6585L88.4638 33.022ZM19.5498 66C21.7499 66 23.8599 65.1308 25.4156 63.5836C26.9713 62.0365 27.8453 59.938 27.8453 57.75C27.8453 55.562 26.9713 53.4635 25.4156 51.9164C23.8599 50.3692 21.7499 49.5 19.5498 49.5C17.3496 49.5 15.2396 50.3692 13.6839 51.9164C12.1282 53.4635 11.2542 55.562 11.2542 57.75C11.2542 59.938 12.1282 62.0365 13.6839 63.5836C15.2396 65.1308 17.3496 66 19.5498 66ZM99.7403 57.75C99.7403 59.938 98.8663 62.0365 97.3106 63.5836C95.7548 65.1308 93.6448 66 91.4447 66C89.2446 66 87.1346 65.1308 85.5789 63.5836C84.0231 62.0365 83.1491 59.938 83.1491 57.75C83.1491 55.562 84.0231 53.4635 85.5789 51.9164C87.1346 50.3692 89.2446 49.5 91.4447 49.5C93.6448 49.5 95.7548 50.3692 97.3106 51.9164C98.8663 53.4635 99.7403 55.562 99.7403 57.75Z" fill="white"/>
                        </svg>
                        Anunciar mi auto
                    </a>
                }
                else
                {
                    <a href="/Auth?returnUrl=%2FAnunciarMiAuto" class="menu-item menu-item-secondary">
                        <svg width="16" height="16" viewBox="0 0 111 99" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink: 0;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.193426 59.4165V94.875C0.193426 97.152 2.05163 99 4.34121 99H13.2672C14.2495 99.0002 15.2 98.6537 15.9494 98.0222C16.6989 97.3907 17.1986 96.5152 17.3597 95.5515L19.5498 82.5H91.4447L93.6292 95.5515C93.7903 96.5152 94.2901 97.3907 95.0395 98.0222C95.7889 98.6537 96.7394 99.0002 97.7217 99H106.653C107.753 99 108.808 98.5654 109.586 97.7918C110.364 97.0182 110.801 95.969 110.801 94.875V59.4165C110.801 52.9508 108.877 46.6297 105.271 41.25L100.957 34.815C100.572 34.2421 100.243 33.6344 99.9726 33H105.47C106.24 33 106.996 32.7864 107.651 32.3832C108.307 31.9801 108.836 31.4033 109.181 30.7175L110.563 27.9675C110.879 27.339 111.028 26.6408 110.996 25.9391C110.964 25.2374 110.752 24.5554 110.381 23.9577C110.01 23.36 109.492 22.8665 108.875 22.5239C108.259 22.1813 107.564 22.001 106.858 22H97.5281L95.8137 13.497C95.2921 10.9074 94.0316 8.52189 92.1829 6.62581C90.3342 4.72973 87.9756 3.40327 85.3889 2.805C77.3035 0.935001 67.3378 0 55.4972 0C43.6512 0 33.6909 0.935001 25.6055 2.805C23.0179 3.40233 20.658 4.72839 18.8083 6.62454C16.9585 8.52069 15.6972 10.9066 15.1752 13.497L13.4608 22H4.14212C3.4358 22.001 2.74142 22.1813 2.1248 22.5239C1.50818 22.8665 0.989753 23.36 0.618645 23.9577C0.247536 24.5554 0.0360443 25.2374 0.00421439 25.9391C-0.0276155 26.6408 0.12127 27.339 0.436762 27.9675L1.81936 30.7175C2.16318 31.4024 2.69188 31.9787 3.34627 32.3818C4.00067 32.7849 4.75495 32.999 5.52471 33H11.0274C10.7572 33.6343 10.4276 34.242 10.043 34.815L5.72381 41.25C2.118 46.629 0.193426 52.9485 0.193426 59.4165ZM88.4638 33.022C88.8448 34.9243 89.4771 36.7681 90.3442 38.5055H20.6503C21.5186 36.773 22.149 34.9305 22.5306 33.022L26.0258 15.6585C26.129 15.1394 26.3806 14.6609 26.7504 14.2804C27.1202 13.8999 27.5926 13.6336 28.1108 13.5135C35.2892 11.8635 44.4365 11 55.4972 11C66.558 11 75.7052 11.858 82.8837 13.519C83.4022 13.6378 83.8752 13.9028 84.246 14.2823C84.6168 14.6618 84.8696 15.1397 84.9742 15.6585L88.4638 33.022ZM19.5498 66C21.7499 66 23.8599 65.1308 25.4156 63.5836C26.9713 62.0365 27.8453 59.938 27.8453 57.75C27.8453 55.562 26.9713 53.4635 25.4156 51.9164C23.8599 50.3692 21.7499 49.5 19.5498 49.5C17.3496 49.5 15.2396 50.3692 13.6839 51.9164C12.1282 53.4635 11.2542 55.562 11.2542 57.75C11.2542 59.938 12.1282 62.0365 13.6839 63.5836C15.2396 65.1308 17.3496 66 19.5498 66ZM99.7403 57.75C99.7403 59.938 98.8663 62.0365 97.3106 63.5836C95.7548 65.1308 93.6448 66 91.4447 66C89.2446 66 87.1346 65.1308 85.5789 63.5836C84.0231 62.0365 83.1491 59.938 83.1491 57.75C83.1491 55.562 84.0231 53.4635 85.5789 51.9164C87.1346 50.3692 89.2446 49.5 91.4447 49.5C93.6448 49.5 95.7548 50.3692 97.3106 51.9164C98.8663 53.4635 99.7403 55.562 99.7403 57.75Z" fill="white"/>
                        </svg>
                        Anunciar mi auto
                    </a>
                }
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink: 0;">
                        <path d="M10 1H2.628C1.729 1.001 1.001 1.729 1 2.628V17.512C1.001 18.41 1.729 19.138 2.628 19.139H3.791V15.186C3.792 14.544 4.312 14.024 4.953 14.023H8.674C9.316 14.024 9.836 14.544 9.837 15.186V19.139H11.93C12.315 19.139 12.628 18.827 12.628 18.442V2.628C12.627 1.729 11.899 1.001 10 1ZM5.419 11.233H4.488C4.103 11.233 3.791 10.92 3.791 10.535C3.791 10.15 4.103 9.837 4.488 9.837H5.419C5.804 9.837 6.116 10.15 6.116 10.535C6.116 10.92 5.804 11.233 5.419 11.233ZM5.419 8.442H4.488C4.103 8.442 3.791 8.129 3.791 7.744C3.791 7.359 4.103 7.047 4.488 7.047H5.419C5.804 7.047 6.116 7.359 6.116 7.744C6.116 8.129 5.804 8.442 5.419 8.442ZM5.419 5.651H4.488C4.103 5.651 3.791 5.339 3.791 4.953C3.791 4.568 4.103 4.256 4.488 4.256H5.419C5.804 4.256 6.116 4.568 6.116 4.953C6.116 5.339 5.804 5.651 5.419 5.651ZM9.14 11.233H8.209C7.824 11.233 7.512 10.92 7.512 10.535C7.512 10.15 7.824 9.837 8.209 9.837H9.14C9.525 9.837 9.837 10.15 9.837 10.535C9.837 10.92 9.525 11.233 9.14 11.233ZM9.14 8.442H8.209C7.824 8.442 7.512 8.129 7.512 7.744C7.512 7.359 7.824 7.047 8.209 7.047H9.14C9.525 7.047 9.837 7.359 9.837 7.744C9.837 8.129 9.525 8.442 9.14 8.442ZM9.14 5.651H8.209C7.824 5.651 7.512 5.339 7.512 4.953C7.512 4.568 7.824 4.256 8.209 4.256H9.14C9.525 4.256 9.837 4.568 9.837 4.953C9.837 5.339 9.525 5.651 9.14 5.651Z" fill="white"/>
                        <path d="M18.007 5.538L13.009 2.074C12.665 1.902 12.246 2.041 12.073 2.386C12.025 2.483 12 2.59 12 2.698V16.651C12 17.037 12.312 17.349 12.698 17.349H16.349C17.761 17.348 18.906 16.203 18.907 14.791V6.994C18.909 6.376 18.56 5.812 18.007 5.538ZM15.419 13.558H13.558C13.173 13.558 12.86 13.246 12.86 12.861C12.86 12.475 13.173 12.163 13.558 12.163H15.419C15.804 12.163 16.116 12.475 16.116 12.861C16.116 13.246 15.804 13.558 15.419 13.558ZM15.419 10.768H13.558C13.173 10.768 12.86 10.455 12.86 10.07C12.86 9.685 13.173 9.372 13.558 9.372H15.419C15.804 9.372 16.116 9.685 16.116 10.07C16.116 10.455 15.804 10.768 15.419 10.768ZM15.419 7.977H13.558C13.173 7.977 12.86 7.665 12.86 7.279C12.86 6.894 13.173 6.582 13.558 6.582H15.419C15.804 6.582 16.116 6.894 16.116 7.279C16.116 7.665 15.804 7.977 15.419 7.977Z" fill="white"/>
                    </svg>
                    Anunciar mi empresa
                </a>
            </div>
            
            <!-- Productos Section -->
            <button class="menu-section-btn" data-section="productos">
                <span>Productos</span>
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                    <path d="M3 5L7 9L11 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="menu-section" id="section-productos">
                <a asp-page="/PpfCeramico" class="menu-item menu-item-secondary menu-item-product">
                    <img src="~/images/logos/RAINXLOGO.png" alt="Rain-X" class="product-logo-small" />
                    <span>¡Máxima visibilidad al conducir!</span>
                </a>
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
            </div>
            
            <!-- Servicios Section -->
            <button class="menu-section-btn" data-section="servicios">
                <span>Servicios</span>
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                    <path d="M3 5L7 9L11 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="menu-section" id="section-servicios">
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
            </div>
            
            <!-- Financiamiento Section -->
            <button class="menu-section-btn" data-section="financiamiento">
                <span>Financiamiento</span>
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                    <path d="M3 5L7 9L11 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="menu-section" id="section-financiamiento">
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
                <a asp-page="/AnunciarEmpresa" class="menu-item menu-item-secondary menu-item-reserve">
                    Espacio disponible <span class="highlight">¡Reserve ya!</span>
                </a>
            </div>
            
            @if (isUserLoggedIn)
            {
                <!-- User Section (aparece después de los desplegables) -->
                <div class="menu-user-section">
                    <div class="menu-divider"></div>
                    <a asp-page="/MiPerfil" class="menu-item">
                        <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 15C1 12.2386 3.68629 10 7 10C10.3137 10 13 12.2386 13 15M10 4.5C10 6.15685 8.65685 7.5 7 7.5C5.34315 7.5 4 6.15685 4 4.5C4 2.84315 5.34315 1.5 7 1.5C8.65685 1.5 10 2.84315 10 4.5Z" stroke="white" stroke-width="1.5"/>
                        </svg>
                        Mi perfil
                    </a>
                    <a asp-page="/Guardados" class="menu-item">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 14.35L7.55 13.03C2.4 8.36 0 5.78 0 2.5C0 0.42 1.42 0 2.5 0C4.24 0 5.91 0.81 7 2.09C8.09 0.81 9.76 0 11.5 0C13.58 0 15 0.42 15 2.5C15 5.78 12.6 8.36 7.45 13.04L9 14.35Z" fill="white"/>
                        </svg>
                        Autos guardados
                    </a>
                    <a asp-page="/AnunciarMiAuto" class="menu-item">
                        <svg width="16" height="16" viewBox="0 0 111 99" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink: 0;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.193426 59.4165V94.875C0.193426 97.152 2.05163 99 4.34121 99H13.2672C14.2495 99.0002 15.2 98.6537 15.9494 98.0222C16.6989 97.3907 17.1986 96.5152 17.3597 95.5515L19.5498 82.5H91.4447L93.6292 95.5515C93.7903 96.5152 94.2901 97.3907 95.0395 98.0222C95.7889 98.6537 96.7394 99.0002 97.7217 99H106.653C107.753 99 108.808 98.5654 109.586 97.7918C110.364 97.0182 110.801 95.969 110.801 94.875V59.4165C110.801 52.9508 108.877 46.6297 105.271 41.25L100.957 34.815C100.572 34.2421 100.243 33.6344 99.9726 33H105.47C106.24 33 106.996 32.7864 107.651 32.3832C108.307 31.9801 108.836 31.4033 109.181 30.7175L110.563 27.9675C110.879 27.339 111.028 26.6408 110.996 25.9391C110.964 25.2374 110.752 24.5554 110.381 23.9577C110.01 23.36 109.492 22.8665 108.875 22.5239C108.259 22.1813 107.564 22.001 106.858 22H97.5281L95.8137 13.497C95.2921 10.9074 94.0316 8.52189 92.1829 6.62581C90.3342 4.72973 87.9756 3.40327 85.3889 2.805C77.3035 0.935001 67.3378 0 55.4972 0C43.6512 0 33.6909 0.935001 25.6055 2.805C23.0179 3.40233 20.658 4.72839 18.8083 6.62454C16.9585 8.52069 15.6972 10.9066 15.1752 13.497L13.4608 22H4.14212C3.4358 22.001 2.74142 22.1813 2.1248 22.5239C1.50818 22.8665 0.989753 23.36 0.618645 23.9577C0.247536 24.5554 0.0360443 25.2374 0.00421439 25.9391C-0.0276155 26.6408 0.12127 27.339 0.436762 27.9675L1.81936 30.7175C2.16318 31.4024 2.69188 31.9787 3.34627 32.3818C4.00067 32.7849 4.75495 32.999 5.52471 33H11.0274C10.7572 33.6343 10.4276 34.242 10.043 34.815L5.72381 41.25C2.118 46.629 0.193426 52.9485 0.193426 59.4165ZM88.4638 33.022C88.8448 34.9243 89.4771 36.7681 90.3442 38.5055H20.6503C21.5186 36.773 22.149 34.9305 22.5306 33.022L26.0258 15.6585C26.129 15.1394 26.3806 14.6609 26.7504 14.2804C27.1202 13.8999 27.5926 13.6336 28.1108 13.5135C35.2892 11.8635 44.4365 11 55.4972 11C66.558 11 75.7052 11.858 82.8837 13.519C83.4022 13.6378 83.8752 13.9028 84.246 14.2823C84.6168 14.6618 84.8696 15.1397 84.9742 15.6585L88.4638 33.022ZM19.5498 66C21.7499 66 23.8599 65.1308 25.4156 63.5836C26.9713 62.0365 27.8453 59.938 27.8453 57.75C27.8453 55.562 26.9713 53.4635 25.4156 51.9164C23.8599 50.3692 21.7499 49.5 19.5498 49.5C17.3496 49.5 15.2396 50.3692 13.6839 51.9164C12.1282 53.4635 11.2542 55.562 11.2542 57.75C11.2542 59.938 12.1282 62.0365 13.6839 63.5836C15.2396 65.1308 17.3496 66 19.5498 66ZM99.7403 57.75C99.7403 59.938 98.8663 62.0365 97.3106 63.5836C95.7548 65.1308 93.6448 66 91.4447 66C89.2446 66 87.1346 65.1308 85.5789 63.5836C84.0231 62.0365 83.1491 59.938 83.1491 57.75C83.1491 55.562 84.0231 53.4635 85.5789 51.9164C87.1346 50.3692 89.2446 49.5 91.4447 49.5C93.6448 49.5 95.7548 50.3692 97.3106 51.9164C98.8663 53.4635 99.7403 55.562 99.7403 57.75Z" fill="white"/>
                        </svg>
                        Anunciar mi auto
                    </a>
                    <a asp-page="/MisAnuncios" class="menu-item">
                        <img src="https://autoclickstorage.blob.core.windows.net/uploads/MisAnuncios.png" alt="Mis anuncios" style="width: 18px; height: 18px; flex-shrink: 0;" />
                        Mis anuncios
                    </a>
                </div>
                
                <!-- Logout Button -->
                <div class="menu-logout-section">
                    <a href="/Logout" class="menu-logout-btn">Cerrar sesión</a>
                </div>
            }
        </div>
    </div>
</header>

<!-- Search Modal Responsive -->
<div class="search-modal-responsive" id="searchModalResponsive">
    <div class="search-modal-content">
        <button class="search-modal-close" id="searchModalClose">
            <span>×</span>
            <span class="search-modal-close-text">Cerrar</span>
        </button>
        <div class="search-modal-body">
            <h2 class="search-modal-title">Búsqueda rápida</h2>
            <form method="get" action="@Url.Page("/BusquedaAvanzada")" class="search-modal-form">
                <div class="search-modal-field">
                    <label class="search-modal-label">¿Qué auto anda buscando?</label>
                    <div class="search-modal-input-wrapper">
                        <input type="text" name="Search" placeholder="Digite marca o modelo" class="search-modal-input" />
                    </div>
                </div>
                <button type="submit" class="search-modal-submit">Buscar</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Menu JavaScript
    document.addEventListener('DOMContentLoaded', function() {
        const menuBtn = document.getElementById('menuBtn');
        const menuOverlay = document.getElementById('menuOverlay');
        const menuIcon = menuBtn.querySelector('.menu-icon');
        const closeIcon = menuBtn.querySelector('.close-icon');
        const menuText = menuBtn.querySelector('.menu-text');
        const closeText = menuBtn.querySelector('.close-text');
        
        // Search Modal
        const searchBtn = document.getElementById('searchBtnResponsive');
        const searchModal = document.getElementById('searchModalResponsive');
        const searchModalClose = document.getElementById('searchModalClose');
        
        if (searchBtn && searchModal) {
            searchBtn.addEventListener('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                searchModal.classList.add('active');
                document.body.style.overflow = 'hidden';
            });
            
            if (searchModalClose) {
                searchModalClose.addEventListener('click', function() {
                    searchModal.classList.remove('active');
                    document.body.style.overflow = '';
                });
            }
            
            searchModal.addEventListener('click', function(e) {
                if (e.target === searchModal) {
                    searchModal.classList.remove('active');
                    document.body.style.overflow = '';
                }
            });
        }
        
        function openMenu() {
            menuOverlay.classList.add('active');
            document.body.style.overflow = 'hidden';
            
            // Cambiar icono de menú a cerrar
            menuIcon.style.display = 'none';
            closeIcon.style.display = 'block';
            menuText.style.display = 'none';
            closeText.style.display = 'block';
        }
        
        function closeMenu() {
            menuOverlay.classList.remove('active');
            document.body.style.overflow = '';
            
            // Cambiar icono de cerrar a menú
            menuIcon.style.display = 'block';
            closeIcon.style.display = 'none';
            menuText.style.display = 'block';
            closeText.style.display = 'none';
            
            // Cerrar todas las secciones desplegables
            document.querySelectorAll('.menu-section').forEach(section => {
                section.classList.remove('active');
            });
            document.querySelectorAll('.menu-section-btn').forEach(btn => {
                btn.classList.remove('active');
            });
        }
        
        if (menuBtn) {
            menuBtn.addEventListener('click', function(e) {
                e.stopPropagation();
                if (menuOverlay.classList.contains('active')) {
                    closeMenu();
                } else {
                    openMenu();
                }
            });
        }
        
        // Toggle de secciones desplegables
        document.querySelectorAll('.menu-section-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                const sectionName = this.getAttribute('data-section');
                const section = document.getElementById('section-' + sectionName);
                const isOpen = section.classList.contains('active');
                
                // Cerrar todas las secciones
                document.querySelectorAll('.menu-section').forEach(s => {
                    s.classList.remove('active');
                });
                document.querySelectorAll('.menu-section-btn').forEach(b => {
                    b.classList.remove('active');
                });
                
                // Abrir/cerrar la sección actual
                if (!isOpen) {
                    section.classList.add('active');
                    this.classList.add('active');
                }
            });
        });
        
        // Close menu when clicking outside
        if (menuOverlay) {
            menuOverlay.addEventListener('click', function(e) {
                if (e.target === menuOverlay) {
                    closeMenu();
                }
            });
        }
        
        // Close menu on menu item click (no en section buttons)
        const menuItems = document.querySelectorAll('.menu-item:not(.menu-section-btn)');
        menuItems.forEach(item => {
            item.addEventListener('click', closeMenu);
        });
    });
</script>
